ion-item {
    --background: #f7f7f7;
    --padding-start: 16px;
    --padding-end: 16px;
    border-radius: 10px;
    margin-bottom: 10px;
}
  
ion-label {
    color: #6b6b6b;
}
  
ion-input, ion-select {
    color: #333;
}
  
ion-button {
    font-weight: bold;
}
  
.ion-padding {
    padding: 20px;
}
  
ion-header {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);  // Sombra para el header
}
  